

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-11 col-xs-offset-1 foodList">
      <table style="width:100%">
        <% @foods.each do |f| %>
        <%= link_to f.name, food_path( f ) %> <br \>
        <%end%>
      </table>
    </div>
  </div>
</div>
