

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4 col-xs-offset-1 foodList border-div" >
      <% @foods.each do |f| %>
        <%= link_to f.name, food_path( f ) %> <br \>
      <%end%>
    </div>
    <div class="col-xs-5 col-xs-offset-1 border-div">
      <h3 style="text-align:center;">Calorie Calculator</h3>
      <div class="col-xs-6">
        <div class="excersize">
          <label for="" class=''>Excersize</label> <br \>
          <select class="excersize" name="excersize">
            <option value="cycling">Cycling</option>
            <option value="lifting">Weigth Lifting</option>
            <option value="stairs">Stair Machine</option>
            <option value="rowing">Rowing Machine</option>
            <option value="ski">Ski Machine</option>
            <option value="running">Running</option>
            <option value="sprinting">Sprinting</option>
            <option value="archer">Archery</option>
            <option value="basketball">Basketball</option>
            <option value="billiards">Billiards</option>
            <option value="bowling">Bowling</option>
            <option value="boxing">Boxing</option>
            <option value="golf">Golf</option>
          </select>

        </div>
      </div>
      <div class="col-xs-6">
        <div class="excersize">
          <label for=""> Calories p/h</label><br \>
          <p class="calPerHour">300</p>
        </div>
      </div>
    </div>
  </div>
</div>
